<div> 
    <div class="Table">
        <div class="Title">
            <span>Cedar River Trail</span>
        </div>
        <div class="Row">
            <div class="Cell">
               <p>
                The Cedar River trail follows the river for 17.4 miles, from the Cedar River Watershed’s western boundary at Landsburg, 
                downstream to the mouth of the Cedar River, where it empties into Lake Washington in Renton. 
                </p>
                <p>
                    We started our ride at the trailhead in Landsburg. 
                    <a href="https://goo.gl/maps/icNCN4vGVFoab41C7" target="_blank">google maps</a>
                </p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <app-image-slider postId=1></app-image-slider>
            </div>
        </div>

    </div>
</div>
