<div> 
    <div class="Table">
        <div class="Title">
            <span>Cedar River Trail (Aug 29 2020)</span>
        </div>
        <div class="Row">
            <div class="Cell">
                <p><b>Trail Description</b></p>
               <p>
                The Cedar River trail follows the river for 17.4 miles, from the Cedar River Watershed’s western boundary at Landsburg, 
                downstream to the mouth of the Cedar River, where it empties into Lake Washington in Renton.
                </p>
                <p>
                    <b>Level - <i>Intermediate</i>:</b>
                    I consider this a trail for the intermediate rider only because of the distance. Elevation gain is only 756 over the 36 miles (18 down and 18 back). 
                </p>
                
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                
                <p>
                    <b>
                        Trailhead:
                    </b>
                    We started our ride at the trailhead in Landsburg. 
                    <a href="https://goo.gl/maps/icNCN4vGVFoab41C7" target="_blank">Here</a>
                </p>
            </div>
        </div>
        <div class="Row">
            <div class="Table">
                <div class="Row">
                    <div class="Cell">
                        <p>
                            You can find our ride on ride with gps <a href="https://ridewithgps.com/trips/55230807">Cedar River Trail</a>
                        </p>
                        <p>
                            Learn more from the
                            <a href="https://www.wta.org/go-hiking/hikes/cedar-river-trail">Washington Trails association: </a>
                        </p>
                    </div>
                    <div class="Cell">
                        <app-image-slider postId=1></app-image-slider>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
