<div> 
    <div class="Table">
        <div class="Title">
            <span>Hood Canal - Tahuya Wa - Gravel (Aug 14 2020)</span>
        </div>
        <div class="Row">
            <div class="Cell">
               
               <p>
                <b>Comments:</b>
                This was a super fun but really hard gravel ride. We found a spot to park on NE North Shore Rd and headed toward Tahaya. North Shore road starts out as a paved road but soon becomes a gravel ride.
                The road follows the water and there are some great views! The ride along North Shore road is hilly! it's not an easy ride but it's beautiful and very fun. 
                </p>
                <p>
                    <b>Level - <i>Advanced</i>:</b>
                    This is only a 20 mile ride but the assent in that 20 miles is about 1,900ft. There are hills that only strong riders will be able ride up without walking your bike. 
                </p>
                <p>
                    <b>Caution!</b>
                    DON'T follow our route! If you want to ride this ride (and you should it's lots of fun) check out our ride on ride with gps, make a copy and find a different route. Where our route leaves NW Dewatto Holly Rd we were 
                    headed around a gate and onto a logging companies land. The roads are barely ridable and in many parts we simply had to walk our bikes because we couldn't ride them.
                </p>
                
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                
                <p>
                    <b>
                        Trailhead:
                    </b>
                    There really isn't a trailhead. We just found a spot along the road to park. 
                    <a href="https://goo.gl/maps/C8ZjVBbTiWMLnpHY9" target="_blank">Here</a>
                </p>
            </div>
        </div>
        <div class="Row">
            <div class="Table">
                <div class="Row">
                    <div class="Cell">
                        <p>
                            You can find our ride on ride with gps here <a href="https://ridewithgps.com/trips/54345231">Duval to Ben Howard</a>
                        </p>

                    </div>
                    <div class="Cell">
                        <app-image-slider postId=3></app-image-slider>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
