<div> 
    <div class="Table">
        <div class="Title">
            <span>Duval to Ben Howard - Gravel (Aug 23 2020)</span>
        </div>
        <div class="Row">
            <div class="Cell">
               
               <p>
                <b>Comments:</b>
                This was a super fun ride with about 13 miles of Gravel. The gravel section was my favorite part but the entire ride was amazing. The gravel section is is closed off to cars and a gravel bike is ideal but it can be done on a road bike.
                The route starts in Duvall. From Duvall you head to the <a href="https://www.wta.org/go-hiking/hikes/marckworth-forest">Marckworth state forest</a> where you ride on Gravel for about 13 miles. Once you exit the forst your headed to Ben Howard road.
                Watch for bridges and keep an eye on the Skynomish river. We found an amazing place along the river to have lunch but we almost missed it. I can't seem to find the bridge it's next to on the map or I would pin it. There is only one bathroom and that's
                Monroe. If you checkout our ride you will see that we go over the bride on South Lewis street into Monro. That's where the bathroom is.
                </p>
                <p>
                    <b>Level - <i>Advanced</i>:</b>
                    This is a 38 mile partially gravel ride with an assent of about 1,700 feet. Some of the hills on the gravel section are a good workout. 
                </p>
                <p>
                    <b>Caution!</b>
                    DON'T follow our route! We ended up walking and carrying our bikes through the woods for a mile or 2. It was a lot of fun but you would be better off just following the route that goes up the big hill :-) Got to http://ridewithgps.com 
                    and do a search for Duvall to Ben Howard.
                </p>
                
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                
                <p>
                    <b>
                        Trailhead:
                    </b>
                    The ride starts at the Duvall Park & Ride. 
                    <a href="https://goo.gl/maps/gMcpcgcWySAoG5oh7" target="_blank">Here</a>
                </p>
            </div>
        </div>
        <div class="Row">
            <div class="Table">
                <div class="Row">
                    <div class="Cell">
                        <p>
                            You can find our ride on ride with gps here <a href="https://ridewithgps.com/trips/54910127">Duval to Ben Howard</a>
                        </p>

                    </div>
                    <div class="Cell">
                        <app-image-slider postId=2></app-image-slider>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>
